    

<style>
    h1{
			text-align: center;
		}
		a{ 
			text-decoration: none;
			color: black;
		}

		ul{
			list-style-type: none;

		}
		li{
			display: inline-block;
			margin-left: 95px;
		}
		img{
			width:50%;
		}

</style>		